<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/styl.css">
</head>

<body data-ng-app="czatApka">
    <script>
    var socket = io.connect('//' + window.location.host);
    socket.on('news', function(data) {
        console.log(JSON.stringify(data));
        socket.emit('reply', {
            reply: 'odzew klienta'
        });
    });
    </script>

    <div data-ng-controller="chatCtrlr">
        <div>
            {{wyswietlNik()}}
        </div>
        <div id="chatLog">
            <div data-ng-repeat="msg in msgs track by $index">{{msg}}</div>
        </div>
        <div>
            <form action="" data-ng-submit="sendMsg()">
                <input type="text" data-ng-model="msg.text" maxlength="20">
            </form>
        </div>
    </div>
    <div data-ng-show = 'dupa'><a href="/logout">Wyloguj</a></div>
</body>
</html>