<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Serwis dla samodoskonaleńców</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styl.css"></head>
    <link rel="stylesheet" href="css/spacer.css"></head>

<body data-ng-app="serwis">
    <div data-ng-controller="serwisCtrlr">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kulturystyka</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/usunProfil">Usuń konto</a>
                        </li>
                        <li>
                            <a>Zalogowany jako {{user}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">Wyloguj</a>
                        </li>
                        <li>
                            <a href="/createNew">Stwórz nowe konto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- koniec navbara -->
        <div class="container-fluid">
            <div class="row">
                <!-- lewa kolumna -->
                <div class="col-md-2 boczne">
                <div data-ng-click="klikNaProfil()">
                    <p> <b>{{userData.imie}} {{userData.nazwisko}}</b>
                    </p>
                    <p>{{userData.miasto}}</p>
                    <p>{{userData.waga}}kg</p>
                    <p>BF: {{userData.tluszcz}}%</p>
                    <p>Biceps: {{userData.bicek}}cm</p>
                    <p>Wzrost: {{userData.wzrost}}cm</p>
                </div>
                    <div class="spacer30"></div>
                    
                    <button data-ng-click="wyswietlPanelDodaniaTreningu()"> Dodaj nowy trening </button>
                </div>

                <!-- tablica środkowa -->
                <div class="col-md-8 col-md-offset-2 main" id="dashboard">
                <div data-ng-show="pokazTrening">
                    Nazwa treningu: <input type="text" data-ng-model="nowyTrening.nazwa">
                    <div class="spacer10"></div>
                    Poniedziałek:  <input type="text" data-ng-model="nowyTrening.poniedzialek">
                    <div class="spacer10"></div>
                    Wtorek: <input type="text" data-ng-model="nowyTrening.wtorek">
                    <div class="spacer10"></div>
                    Środa: <input type="text" data-ng-model="nowyTrening.sroda">
                    <div class="spacer10"></div>
                    Czwartek: <input type="text" data-ng-model="nowyTrening.czwartek">
                    <div class="spacer10"></div>
                    Piątek: <input type="text" data-ng-model="nowyTrening.piatek">
                    <div class="spacer10"></div>
                    Sobota: <input type="text" data-ng-model="nowyTrening.sobota">
                    <div class="spacer10"></div>
                    Niedziela: <input type="text" data-ng-model="nowyTrening.niedziela">
                    <div class="spacer10"></div>
                    <button data-ng-click="dodajTrening()"> Dodaj nowy trening </button>
                </div>
                </div>
                <!-- prawa kolumna -->
                <div class="col-md-2 boczne zeScrollem col-md-offset-10">

                    <ul class='nav nav-sidebar' ng-click="klikNaInny()" ng-repeat="profile in profiles track by $index" id="{{profile.username}}">

                        <li> <b>{{profile.imie}} {{profile.nazwisko}}</b>
                            <li>
                                <li>{{profile.miasto}}</li>
                                <li>{{profile.waga}}kg</li>
                                <li>BF: {{profile.tluszcz}}%</li>
                                <li>Biceps: {{profile.bicek}}cm</li>
                                <li>Wzrost: {{profile.wzrost}}cm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>